<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/3c69304ebcf64bf1b4e3404fb1e7e2a8">2022-CVE-None-MSMu🗣️🐮</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Microsoft</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Firmware</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>UEFI (SMM Supervisor)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>System Calls (SMM_MM_HDL_UNREG_1, SMM_MM_HDL_UNREG_2)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Microsoft Project Mu - <a href="https://microsoft.github.io/mu/">https://microsoft.github.io/mu/</a><p></p>
      	[2] Intel SMM hardening whitepaper - <a href="https://www.intel.com/content/dam/www/central-libraries/us/en/documents/drtm-based-computing-whitepaper.pdf">https://www.intel.com/content/dam/www/central-libraries/us/en/documents/drtm-based-computing-whitepaper.pdf</a><p></p>
      	[3] Patch - <a href="https://github.com/microsoft/mu_feature_mm_supv/commit/9ac073960bcebbc619e7d1de2b16b8829f7b5b56">https://github.com/microsoft/mu_feature_mm_supv/commit/9ac073960bcebbc619e7d1de2b16b8829f7b5b56</a><p></p>
      	[4] Presentation slides - <a href="https://docs.google.com/presentation/d/11uex-xPyBjVThovkh1kVTXJ4aarVryhK/edit#slide=id.p1">https://docs.google.com/presentation/d/11uex-xPyBjVThovkh1kVTXJ4aarVryhK/edit#slide=id.p1</a><p></p>
      	[5] Presentation video - <a href="https://www.youtube.com/watch?v=nOQyZwaYu0o">https://www.youtube.com/watch?v=nOQyZwaYu0o</a><p></p>
      	[5] Citation of Mu's use for MS Surface tablets <a href="https://microsoft.github.io/mu/WhatAndWhy/layout/#surface-laptop-example">https://microsoft.github.io/mu/WhatAndWhy/layout/#surface-laptop-example</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/ivansprundel">Ilja van Sprundel</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium (depending on UEFI familiarity)<p></p>
    </td>
  </tr>
</table>