<h1>Prevention</h1>
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  
  <tr>
    <th> </th>
    <th>Sanity Checks / Safe Code Guidance</th>
    <th>FORTIFY_SOURCE</th>
    <th>Safer CRT functions</th>
    <th>Write code in Rust</th>
    <th>Write code in Go</th>
    <th>Safe-Math</th>
    <th>Compiler<p>auto-initialization</th>
  </tr>
  <tr>
    <th><b>(Linear) Stack Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Linear) Heap Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Non-linear) Out-Of-Bounds Writes</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ <i>Some</i>, if used with pointer arithmetic</td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Integer Overflow/Underflow</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ? </td>
    <td> ✅ </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Other Integer Issues</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ? </td>
    <td> ? </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Uninitialized Data Access</b></th>
    <td> ✅ (in this context, manual initialization)</td>
    <td> </td>
    <td> </td>
    <td> ✅ (safe rust won't let you use uninitialized values, but if you explicitly use the unsafe keyword it would)</td>
    <td> ✅ </td>
    <td> </td>
    <td> ✅ </td>
  </tr>
</table>