<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td><a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2021-1732🆕🪟</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2022-21882🆕🪟2️⃣</a></a><p></p>
  		<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
    </td>
    <td><a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2021-1732🆕🪟</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2022-21882🆕🪟2️⃣</a><p></p>
		<a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
      	<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
    </td>
    <td><a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
		<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
      	<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
	</td>
    <td><a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
      	<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
	</td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>