<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/5a0d6d5150e646a2a65722ad1c83e8e6">CVE-2021-3947🦤</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>QEMU (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Virtualization</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Hypervisor</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Virtual Hardware (NVMe)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Advisory - <a href="https://qiuhao.org/VD_QEMU_NVME_CWE-191-125.txt">https://qiuhao.org/VD_QEMU_NVME_CWE-191-125.txt</a><p></p>
    	[2] Bug report - <a href="https://bugzilla.redhat.com/show_bug.cgi?id=2021869#c0">https://bugzilla.redhat.com/show_bug.cgi?id=2021869#c0</a><p></p>
    	[3] Patch - <a href="https://gitlab.com/qemu-project/qemu/-/commit/e2c57529c9306e4">https://gitlab.com/qemu-project/qemu/-/commit/e2c57529c9306e4</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/QiuhaoLi">Qiuhao Li</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium<p></p>
    </td>
  </tr>
</table>