<h1><strong>Vulnerable commit:</strong></h1>
<p style="font-size: 16px;">You should look at the code with full context. It can be checked out using the below:</p>
<p style="font-size: 16px; padding-left: 30px;">git clone https://github.com/torvalds/linux.git linux_CVE-2020-29661</p>
<p style="font-size: 16px; padding-left: 30px;">cd linux_CVE-2020-29661</p>
<p style="font-size: 16px; padding-left: 30px;">git checkout 418baf2c28f3473039f2f7377760bd8f6897ae18</p>