<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/5ded9e5bd3de498c98ae9036d7a976dd">CVE-2020-2758📦2️⃣</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Oracle (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Virtualization</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Type 2 (Hosted) Hypervisor (VirtualBox)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Host-Guest Shared-Memory Command Interface (VirtualBox Video Acceleration (VBVA)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Blog - <a href="https://www.starlabs.sg/blog/2020/06-oracle-virtualbox-vhwa-use-after-free-privilege-escalation-vulnerability/">https://www.starlabs.sg/blog/2020/06-oracle-virtualbox-vhwa-use-after-free-privilege-escalation-vulnerability/</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/__lord_idiot">Calvin Fong</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium-to-hard<p></p>
    </td>
  </tr>
</table>