<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td><a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
      	<a href="/jump_to_id/b685903202ff495d9b3383ec261d09b7">CVE-2021-34514🏇⚫️🦢</a><p></p>
    </td>
    <td><a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
      	<a href="/jump_to_id/b685903202ff495d9b3383ec261d09b7">CVE-2021-34514🏇⚫️🦢</a><p></p>
    </td>
    <td>
    </td>
    <td><a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
    </td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td><a href="/jump_to_id/c01917bb86d44edc8c42d3da0712cf00">CVE-2021-4207🎾🎾🐕🦤</a><p></p>
    </td>
    <td><a href="/jump_to_id/c01917bb86d44edc8c42d3da0712cf00">CVE-2021-4207🎾🎾🐕🦤</a><p></p>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
    </td>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
      	<a href="/jump_to_id/3c69304ebcf64bf1b4e3404fb1e7e2a8">2022-CVE-None-MSMu🗣️🐮</a><p></p>
    </td>
    <td><a href="/jump_to_id/34b30ed15a1c40c49e01ac4fd176af7a">2019-CVE-None-QualcommWiFiSB🗣️📶</a><p></p>
      	<a href="/jump_to_id/3c69304ebcf64bf1b4e3404fb1e7e2a8">2022-CVE-None-MSMu🗣️🐮</a><p></p>
    </td>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
    </td>
  </tr>
</table>