<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/2647fce41b0c4793aef611c5da72747d">CVE-2022-1809📡</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Radare2 (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Application (reverse engineering tool)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Binary Executable</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Bug bounty report - <a href="https://huntr.dev/bounties/0730a95e-c485-4ff2-9a5d-bb3abfda0b17/">https://huntr.dev/bounties/0730a95e-c485-4ff2-9a5d-bb3abfda0b17/</a><p></p>
      	[2] Patch - <a href="https://github.com/radareorg/radare2/commit/919e3ac1a13f753c73e7a8e8d8bb4a143218732d">https://github.com/radareorg/radare2/commit/919e3ac1a13f753c73e7a8e8d8bb4a143218732d</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/GreaterGoodest">Ryan Good</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>