<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below code is a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should download the vulnerable version of the software described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. </p>
<p style="font-size: 16px;">Spotting this vulnerability requires recognizing that VBoxQGLOverlay::vboxDoVHWACmdExec() can be called multiple times by the malicious code running within the VM, with different ACID parameters and options given on different calls. In particular, note how VBoxVHWAHandleTable mSurfHandleTable, within the VBoxVHWAImage object works.</p>
<p style="font-size: 16px;">Start in VBoxQGLOverlay::vboxDoVHWACmdExec().</p>
<p style="font-size: 16px;"><strong>Vulnerable software:</strong></p>
<p style="font-size: 16px;">svn co https://www.virtualbox.org/svn/vbox/trunk virtualbox_CVE-2020-2758</p>
<p style="font-size: 16px;">cd virtualbox_CVE-2020-2758</p>
<p style="font-size: 16px;">svn up -r 82781</p>