<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td><a href="/jump_to_id/c1e5c8aeea1b42bea44585c2e60d787e">CVE-2022-29181🪚</a><p></p>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td><a href="/jump_to_id/bb9a7b59b6be4dacaf7c965ea3f607a8">CVE-2022-26721❌💻</a><p></p>
      	<a href="/jump_to_id/2647fce41b0c4793aef611c5da72747d">CVE-2022-1809📡</a><p></p>
      	<a href="/jump_to_id/cf702367b53c4e4d95e55c889fba61b3">CVE-2020-9715🟫👓📖</a><p></p>
      	<a href="/jump_to_id/c1e5c8aeea1b42bea44585c2e60d787e">CVE-2022-29181🪚</a><p></p>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td><a href="/jump_to_id/bb9a7b59b6be4dacaf7c965ea3f607a8">CVE-2022-26721❌💻</a><p></p>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td><a href="/jump_to_id/887f24bbd3ca4e7e9a4c8434b45ee936">🥷🌚CVE-2019-14580️⃣🔥👉✴️</a><p></p>
      	<a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
        <a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
        <a href="/jump_to_id/b685903202ff495d9b3383ec261d09b7">CVE-2021-34514🏇⚫️🦢</a><p></p>
      	<a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/e87a2de1690b4035b14a643c9619e0c6">CVE-2021-36955🪟🪟🪵</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2021-1732🆕🪟</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2022-21882🆕🪟2️⃣</a></a><p></p>
  		<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
    </td>
    <td><a href="/jump_to_id/887f24bbd3ca4e7e9a4c8434b45ee936">🥷🌚CVE-2019-14580️⃣🔥👉✴️</a><p></p>
      	<a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
        <a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
        <a href="/jump_to_id/b685903202ff495d9b3383ec261d09b7">CVE-2021-34514🏇⚫️🦢</a><p></p>
      	<a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/e87a2de1690b4035b14a643c9619e0c6">CVE-2021-36955🪟🪟🪵</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2021-1732🆕🪟</a><p></p>
      	<a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🥷🌚CVE-2022-21882🆕🪟2️⃣</a></a><p></p>
		<a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
		<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
  		<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
		<a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
    </td>
    <td><a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
      	<a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
  		<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
		<a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
		<a href="/jump_to_id/a4d69ca6d36f40aeaad90d5932ac31ba">CVE-2022-22252🇨🇳🏆🪵</a><p></p>
    </td>
    <td><a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
      	<a href="/jump_to_id/1f849e92a4f545ba8ab9e32e3782a94a">CVE-2021-27080🔵1️⃣</a><p></p>
        <a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a><p></p>
      	<a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/2732638b927c4e9cb4f1cfc8ac5c3004">CVE-2021-28460🔵2️⃣</a><p></p>
      	<a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a><p></p>
      	<a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a><p></p>
      	<a href="/jump_to_id/ba94286e24bd4d139d0a182c0ab52772">CVE-2021-30857📥©️</a><p></p>
  		<a href="/jump_to_id/567b35bf467a4ecba99cf1180c445204">CVE-2021-41073👉💍</a></a><p></p>
		<a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
    </td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td><a href="/jump_to_id/ac1bb998f09f4cd094339f5006c3f75d">CVE-2021-3608🎮🔜🧠</a><p></p>
        <a href="/jump_to_id/c01917bb86d44edc8c42d3da0712cf00">CVE-2021-4207🎾🎾🐕🦤</a><p></p>
      	<a href="/jump_to_id/5a0d6d5150e646a2a65722ad1c83e8e6">CVE-2021-3947🦤</a><p></p>
      	<a href="/jump_to_id/e10523d0dd6743b1b11b91c2314ffd50">CVE-2020-25624🦤2️⃣</a><p></p>
    </td>
    <td><a href="/jump_to_id/ac1bb998f09f4cd094339f5006c3f75d">CVE-2021-3608🎮🔜🧠</a><p></p>
        <a href="/jump_to_id/c01917bb86d44edc8c42d3da0712cf00">CVE-2021-4207🎾🎾🐕🦤</a><p></p>
      	<a href="/jump_to_id/6e5af3acbea1419cbf9b428774680d1d">CVE-2020-2674📦</a><p></p>
      	<a href="/jump_to_id/5ded9e5bd3de498c98ae9036d7a976dd">CVE-2020-2758📦2️⃣</a><p></p>
      	<a href="/jump_to_id/5a0d6d5150e646a2a65722ad1c83e8e6">CVE-2021-3947🦤</a><p></p>
      	<a href="/jump_to_id/e10523d0dd6743b1b11b91c2314ffd50">CVE-2020-25624🦤2️⃣</a><p></p>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
    </td>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
        <a href="/jump_to_id/3c69304ebcf64bf1b4e3404fb1e7e2a8">2022-CVE-None-MSMu🗣️🐮</a><p></p>
    </td>
    <td><a href="/jump_to_id/34b30ed15a1c40c49e01ac4fd176af7a">2019-CVE-None-QualcommWiFiSB🗣️📶</a><p></p>
        <a href="/jump_to_id/3c69304ebcf64bf1b4e3404fb1e7e2a8">2022-CVE-None-MSMu🗣️🐮</a><p></p>
    </td>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">🥷CVE-2019-11098🗣️🕴</a><p></p>
    </td>
  </tr>
</table>