<h1><strong>Vulnerable commit:</strong></h1>
<p style="font-size: 16px;">While the minimal hint code is available below on the website with some comments, you should look at the code with full context. It can be checked out using the below:</p>
<p style="padding-left: 30px;"><span style="font-size: 16px;">git clone </span>https://git.freebsd.org/src.git freebsd_CVE-2020-7460</p>
<p style="font-size: 16px; padding-left: 30px;">cd freebsd_CVE-2020-7460</p>
<p style="font-size: 16px; padding-left: 30px;">git checkout a5849fa4abcd508792b00400320b39c1499150b0</p>