<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/57064d1b5eaa40d1a3284944141cba1d">🌚CVE-2022-21882🆕🪟2️⃣</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Microsoft</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Kernel Driver (win32kfull.sys)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>System Calls (CreateWindowEx et al.)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td><b>Yes</b></td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[6] Avira blog post - <a href="https://www.avira.com/en/blog/anatomy-of-an-exploit-in-windows-win32k-cve-2022-21882">https://www.avira.com/en/blog/anatomy-of-an-exploit-in-windows-win32k-cve-2022-21882</a><p></p>
      	[7] Core Security blog post - <a href="https://www.coresecurity.com/core-labs/articles/analysis-cve-2022-21882-win32k-window-object-type-confusion-exploit">https://www.coresecurity.com/core-labs/articles/analysis-cve-2022-21882-win32k-window-object-type-confusion-exploit</a> (Larger images, but older text, here: <a href="https://docs.google.com/document/d/1-XjrbLEiRGHwXMlIaEmEB0iyoGAjAcVn/edit?usp=drivesdk&ouid=106981990848287972392&rtpof=true&sd=true">https://docs.google.com/document/d/1-XjrbLEiRGHwXMlIaEmEB0iyoGAjAcVn/edit?usp=drivesdk&ouid=106981990848287972392&rtpof=true&sd=true</a><p></p>
        [8] KaLendsi PoC - <a href="https://github.com/KaLendsi/CVE-2022-21882/">https://github.com/KaLendsi/CVE-2022-21882/</a><p></p>
        [9] Lays Blog (https://blog.l4ys.tw/2022/02/CVE-2021-21882/ -> Google Translate) - <a href="https://blog-l4ys-tw.translate.goog/2022/02/CVE-2021-21882/?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en-US&_x_tr_pto=wapp">https://blog-l4ys-tw.translate.goog/2022/02/CVE-2021-21882/?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en-US&_x_tr_pto=wapp</a><p></p>
        [10] Lays PoC - <a href="https://github.com/L4ys/CVE-2022-21882">https://github.com/L4ys/CVE-2022-21882</a><p></p>
        [11] Seebug Blog (https://paper.seebug.org/1888/ -> Google Translate) - <a href="https://paper-seebug-org.translate.goog/1888/?_x_tr_sl=zh-CN&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp">https://paper-seebug-org.translate.goog/1888/?_x_tr_sl=zh-CN&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp</a><p></p>
        [12] BITTER APT targeting citation - <a href="https://blog.talosintelligence.com/bitter-apt-adds-bangladesh-to-their/">https://blog.talosintelligence.com/bitter-apt-adds-bangladesh-to-their/</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td>
      <a href="https://twitter.com/ricnar456">Ricardo Narvaja</a><p></p>
      <a href="https://twitter.com/kalendsi">KaLendsi</a><p></p>
      <a href="https://twitter.com/CRaghuprasad">Chetan Raghuprasad</a><p></p>
      <a href="https://twitter.com/_L4ys">Lays</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>N/A<p></p>
    </td>
  </tr>
</table>