<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>cURL (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Application and library (curl, libcurl)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Command Line (-tNEW_ENV option)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[6] CVE-2021-22925 curl project advisory - <a href="https://curl.se/docs/CVE-2021-22925.html">https://curl.se/docs/CVE-2021-22925.html</a><p></p>
      	[7] Patch commit to correctly fix CVE-2021-22925 née CVE-2021-22898 - <a href="https://github.com/curl/curl/commit/894f6ec730597eb243618d33cc84d71add8d6a8a">https://github.com/curl/curl/commit/894f6ec730597eb243618d33cc84d71add8d6a8a</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td>N/A found by unspecified Red Hat Product Security member</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>