<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below code is a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should check out the vulnerable version of the Linux kernel as described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. The vulnerability should be visible within that code (even if not all the required definitions' values are.)</p>
<p style="font-size: 16px;">Another hint as you're looking for uninitialized data usage is that you need to have a sense of what gets initialized <em>and what doesn't</em> on the path from io_uring submission queue entry (which starts being processed in the io_uring_enter() system call, or in a kernel polling thread) and when the example io_read() function is called. So for instance while there's many control flow paths between the two functions, the below is the example path of interest (the function below calls the function above):</p>
<p><img src="https://drive.google.com/uc?export=view&amp;id=12uOBA865QFT0_NZVmnMI5N9bcQpXNXb5" /></p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;"><strong>Vulnerable Linux commit:</strong></p>
<p style="font-size: 16px;">git clone https://github.com/torvalds/linux.git linux_CVE-2022-29968</p>
<p style="font-size: 16px;">cd linux_CVE-2022-29968</p>
<p style="font-size: 16px;">git checkout 5a1e99b61b0c81388cde0c808b3e4173907df19f</p>