<h3> Case sensitivity </h3>
<p>
  Some repositories, most notably <i>Linux</i>, have multiple files at the same path, with just different cases for the file names. If these repos are checked out to a case-insensitive filesystem, git will complain that files are in conflict, like the below:
<p>
<pre>
warning: the following paths have collided (e.g. case-sensitive paths
on a case-insensitive filesystem) and only one from the same
colliding group is in the working tree:

  'include/uapi/linux/netfilter/xt_CONNMARK.h'
  'include/uapi/linux/netfilter/xt_connmark.h'
  ...
</pre>
<p>
  The best way to address this is to ensure that you are using a <i>case-sensitive</i> filesystem. However, reformatting your entire filesystem in the event that it does not default to case sensitivity is usually not an option, so some workarounds are provided below if needed.
<p>
<h4><b>Windows workaround</b></h4>
<br/>
From <a href="https://stackoverflow.com/questions/63468346/case-sensitive-path-collisions-on-case-insensitive-file-system-when-i-do-git-clo">https://stackoverflow.com/questions/63468346/case-sensitive-path-collisions-on-case-insensitive-file-system-when-i-do-git-clo</a>:
<br>
Install <a href="https://devblogs.microsoft.com/commandline/a-guide-to-invoking-wsl/">"Windows Subsystem for Linux"</a> (WSL), and install the "Ubuntu 22.04.1 LTS" option from the Microsoft store.<br>
From within the WSL ubuntu shell:  <br>
<pre>
mkdir V1002  
fsutil.exe file setCaseSensitiveInfo V1002 enable  
cd V1002  
git clone <URL>  
</pre>

<p>
<h4><b>macOS workaround</b></h4>
<br>
Use "Disk Utility.app" to create a new blank disk image (File -> New Image -> Blank Image), with the filesystem set to "APFS (case-sensitive)". It should be at least 6GB to hold a Linux repository and Eclipse Workspace. If you want to make a single image and use it throughout the class, I'd recommend creating something at least 100GB (to be on the safe side until I add up all the file sizes...).
<p>

<h4><b>Linux workaround</b></h4>
<br>
Probably not applicable. Distributions like Ubuntu default to ext4 filesystems, which are case sensitive by default. However, if you find yourself on a case-insensitive filesystem...google it :P