<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td></td>
    <td><a href="/jump_to_id/cf702367b53c4e4d95e55c889fba61b3">CVE-2020-9715🟫👓📖</a><p></p>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td><a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/e87a2de1690b4035b14a643c9619e0c6">CVE-2021-36955🪟🪟🪵</a><p></p>
    </td>
    <td><a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/e87a2de1690b4035b14a643c9619e0c6">CVE-2021-36955🪟🪟🪵</a><p></p>
    </td>
    <td><a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
    </td>
    <td><a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">🥷CVE-2020-29661🏇☎️</a><p></p>
      	<a href="/jump_to_id/2732638b927c4e9cb4f1cfc8ac5c3004">CVE-2021-28460🔵2️⃣</a><p></p>
    </td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td></td>
    <td><a href="/jump_to_id/6e5af3acbea1419cbf9b428774680d1d">CVE-2020-2674📦</a><p></p>
      	<a href="/jump_to_id/5ded9e5bd3de498c98ae9036d7a976dd">CVE-2020-2758📦2️⃣</a><p></p>
    </td>
    </td><td>
    </td><td>

  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>