<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below code is a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should download the vulnerable version of the software described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. </p>
<p style="font-size: 16px;">For this vulnerability, it's <em>relatively</em> <em>easy</em> to see where the core issue exists (as long as you focus on trying to find one of the main types of root causes that we said could cause a UAF, and follow multiple possible control flow paths and keep an eye out for words of power). However, it's <em>relatively difficult</em> to actually <em>confirm</em> that this is an issue, without having higher familiarity with the overall normal function of the code base. This is due to how much indirect control flow and function pointer usage exists in the code, which makes it very easy to get lost, and then lose track of which control flow paths are likely to occur in which order. If you feel you've found the core issue, spend some time trying to confirm it, but don't feel obligated to try and spend too much time. (Save that time for other practice and hunting for your own vulns ;)).</p>
<p style="font-size: 16px;">Start in ohciR3ServiceTd().</p>
<p style="font-size: 16px;"><strong>Vulnerable software:</strong></p>
<p style="font-size: 16px;">Download from <a href="https://download.virtualbox.org/virtualbox/6.0.12/VirtualBox-6.0.12.tar.bz2" target="[object Object]">https://download.virtualbox.org/virtualbox/6.0.12/VirtualBox-6.0.12.tar.bz2</a></p>