<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>cURL (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>application and library (curl, libcurl)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Command Line (-tNEW_ENV option)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] curl documentation for CURLOPT_TELNETOPTIONS - <a href="https://curl.se/libcurl/c/CURLOPT_TELNETOPTIONS.html">https://curl.se/libcurl/c/CURLOPT_TELNETOPTIONS.html</a><p></p>
      	[2] curl documentation for -t telnet commands - <a href="https://everything.curl.dev/usingcurl/telnet">https://everything.curl.dev/usingcurl/telnet</a><p></p>
      	[3] Original advisory - <a href="hhttps://hackerone.com/reports/1176461">https://hackerone.com/reports/1176461telnet</a><p></p>
      	[4] CVE-2021-22898 curl project advisory - <a href="https://curl.se/docs/CVE-2021-22898.html">https://curl.se/docs/CVE-2021-22898.html</a><p></p>
      	[5] Patch commit to incorrectly fix CVE-2021-22898 - <a href="https://github.com/curl/curl/commit/39ce47f219b09c380b81f89fe54ac586c8db6bde">https://github.com/curl/curl/commit/39ce47f219b09c380b81f89fe54ac586c8db6bde</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td>nyymi (Unknown, let us know if you know.)</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium to Hard<p></p>
    </td>
  </tr>
</table>